@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

/* || RESET DEFAULT STYLES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

/* || GLOBAL VARIABLES */
:root {
    --HUE: 47;
    --LIGHT-HSL: var(--HUE) 22% 75%;
    --DARK-HSL: var(--HUE) 11% 27%;
    --ACCENT-HSL: var(--HUE) 13% 65%;
    --CONTENT-HSL: var(--HUE) 31% 80%;
    /* required for .current-page box-shadow */
    --NAV-MARGIN-BOTTOM: 1rem;
}

/* ELEMENT RULES */
body {
    height: 100%;
    background-color: hsl(var(--LIGHT-HSL));
    display: flex;
    flex-direction: column;

    color: hsl(var(--DARK-HSL));
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
}

body::after {
    content: "";
    position: fixed;
    z-index: -9999;
    inset: 0;

    background-image:
        /* six diagonal lines */
        linear-gradient(45deg, transparent 572px, hsl(var(--ACCENT-HSL)) 572px, hsl(var(--ACCENT-HSL)) 574px, transparent 574px),
        linear-gradient(45deg, transparent 572px, hsl(var(--ACCENT-HSL)) 572px, hsl(var(--ACCENT-HSL)) 574px, transparent 574px),
        linear-gradient(45deg, transparent 572px, hsl(var(--ACCENT-HSL)) 572px, hsl(var(--ACCENT-HSL)) 574px, transparent 574px),
        linear-gradient(225deg, transparent 572px, hsl(var(--ACCENT-HSL)) 572px, hsl(var(--ACCENT-HSL)) 574px, transparent 574px),
        linear-gradient(225deg, transparent 572px, hsl(var(--ACCENT-HSL)) 572px, hsl(var(--ACCENT-HSL)) 574px, transparent 574px),
        linear-gradient(225deg, transparent 572px, hsl(var(--ACCENT-HSL)) 572px, hsl(var(--ACCENT-HSL)) 574px, transparent 574px),
        /* 4 corner circles */
        radial-gradient(circle at top left, transparent 508px, hsl(var(--ACCENT-HSL)) 508px, hsl(var(--ACCENT-HSL)) 510px, transparent 510px,
            transparent 528px, hsl(var(--ACCENT-HSL)) 528px, hsl(var(--ACCENT-HSL)) 530px, transparent 530px),
        radial-gradient(circle at bottom right, transparent 508px, hsl(var(--ACCENT-HSL)) 508px, hsl(var(--ACCENT-HSL)) 510px, transparent 510px,
            transparent 528px, hsl(var(--ACCENT-HSL)) 528px, hsl(var(--ACCENT-HSL)) 530px, transparent 530px);
    background-size:
        /* six diagonal lines */
        810px 810px, 810px 810px, 810px 810px, 810px 810px, 810px 810px, 810px 810px,
        /* 2 corner circles */
        530px 530px, 530px 530px;
    background-position:
        /* six diagonal lines */
        top left, top -30px left -90px, top -90px left -30px, bottom right, bottom -30px right -90px, bottom -90px right -30px,
        /* 2 corner circles */
        top left, bottom right;
    background-repeat: no-repeat;
    pointer-events: none;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;

    --SCALAR: 0.8;
    background-image:
        /* quadratic spotlight effect */
        radial-gradient(circle at center,
            transparent calc(10vw * var(--SCALAR)),
            rgba(0, 0, 0, .0062) calc(20vw * var(--SCALAR)),
            rgba(0, 0, 0, .0555) calc(40vw * var(--SCALAR)),
            rgba(0, 0, 0, .1543) calc(60vw * var(--SCALAR)),
            rgba(0, 0, 0, .3022) calc(80vw * var(--SCALAR)),
            rgba(0, 0, 0, .5) calc(100vw * var(--SCALAR))),
        /* grid overlay effect */
        linear-gradient(to bottom, transparent 4px, rgba(0, 0, 0, 5%) 6px),
        linear-gradient(to right, transparent 4px, rgba(0, 0, 0, 5%) 6px);
    background-size: auto auto, 6px 6px, 6px 6px;
    z-index: 9999;
    pointer-events: none;
}

main {
    /* beware! this requires everything to be overflow controlled */
    min-height: 0;
    flex: 1;
    margin: 1rem 3rem;
    display: flex;
    flex-direction: column;
    scrollbar-color: hsl(var(--DARK-HSL)) hsl(var(--ACCENT-HSL));
}

main .two-column-layout {
    min-height: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}

.content-frame {
    min-height: 0;
    position: relative;
}

.content-frame::after {
    /* decorative top+bottom section line */
    content: "";
    position: absolute;
    pointer-events: none;
    top: 5px;
    right: 2.2rem;
    left: 5px;
    bottom: 5px;
    background-image: linear-gradient(hsl(var(--DARK-HSL)) 3px, transparent 3px, transparent calc(100% - 3px),
            hsl(var(--DARK-HSL)) calc(100% - 3px));
}

.two-column-left {
    grid-column: 1;
    grid-row: 1;
    min-height: 0;

    margin-left: 3rem;
    padding: 1rem 0;
    background-color: hsl(var(--CONTENT-HSL));
    position: relative;

    box-shadow: 3px 3px hsl(var(--DARK-HSL)/0.5);
}

.two-column-left .fragment-list {
    overflow-y: scroll;
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 0.5rem;
    margin-right: 0.5rem;
    padding: 1rem .5rem 1rem 0;
}

.two-column-right {
    grid-column: 2;
    grid-row: 1;
    min-height: 0;

    background-color: hsl(var(--CONTENT-HSL));
    position: relative;

    display: flex;
    flex-direction: column;
}

.two-column-right .content {
    overflow-y: auto;
    scroll-behavior: smooth;
    height: calc(100% - 2rem);

    margin-top: 1rem;
    margin-right: 0.5rem;
    margin-left: 1rem;
    padding-right: .5rem;
    word-spacing: .5ch;
}

.content-title-bar {
    font-size: 1.5rem;
    background-color: hsl(var(--ACCENT-HSL));
    display: flex;
    align-items: center;
    padding: 0.25em 0.25em;
}

.content-title-bar h2 {
    font-size: 1.5rem;
    font-weight: 350;
    letter-spacing: 0.05em;
}

.content hr {
    border: none;
    height: 3px;
    background: hsl(var(--DARK-HSL));
    width: calc(100% - .5rem);
    margin: 1rem .25rem 1rem 0rem;
}

.content h3 {
    font-size: 1.5rem;
    font-weight: 300;
    padding-bottom: 1em;
}

.content dt {
    word-spacing: normal;
    padding-left: 1em;
}

.content dd {
    margin-bottom: 1em;
}

.content ul {
    list-style: inside;
    list-style-type: square;
}

.content code {
    font-family: monospace;
    font-size: .8em;
    white-space: nowrap;
    padding: .1em .25em;
    background-color: hsl(var(--DARK-HSL));
    color: hsl(var(--LIGHT-HSL));
}

footer {
    /* padding will show that height stays within vh, margin will not */
    padding-bottom: 3rem;
}

div.decorative-rule-line {
    border-top: 2px solid hsl(var(--DARK-HSL));
}

div.decorative-rule-dots {
    --PATTERN-WIDTH: 60px;

    margin: 0rem 3rem;
    height: 18px;

    background-size: var(--PATTERN-WIDTH) 3px,
        var(--PATTERN-WIDTH) 6px, var(--PATTERN-WIDTH) 6px, var(--PATTERN-WIDTH) 6px;
    background-position: 50% 0px,
        calc(50% - 7px) 4px, calc(50% + 7px) 4px, 50% 12px;
    background-image: linear-gradient(90deg, hsl(var(--DARK-HSL)) 4px,
            transparent 4px, transparent calc(var(--PATTERN-WIDTH) - 4px),
            hsl(var(--DARK-HSL)) calc(var(--PATTERN-WIDTH) - 4px)),
        radial-gradient(circle, hsl(var(--DARK-HSL)), hsl(var(--DARK-HSL)) 2px, transparent 3px),
        radial-gradient(circle, hsl(var(--DARK-HSL)), hsl(var(--DARK-HSL)) 2px, transparent 3px),
        radial-gradient(circle, hsl(var(--DARK-HSL)), hsl(var(--DARK-HSL)) 2px, transparent 3px);
    background-repeat: repeat-x;
}

.decorative-bar {
    position: relative;
}

.decorative-bar::before {
    content: "";
    position: absolute;
    left: -3rem;
    top: 0;
    height: 100%;
    width: 21px;
    background-image: linear-gradient(90deg, hsl(var(--ACCENT-HSL)) 12px,
            transparent 12px, transparent 18px,
            hsl(var(--ACCENT-HSL)) 18px);
    z-index: -1;
}

nav {
    margin-left: 6rem;
    margin-right: 3rem;
    margin-bottom: var(--NAV-MARGIN-BOTTOM);
    margin-top: 2rem;
}

nav ul {
    list-style: none;
    text-transform: uppercase;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 1.75rem;
}

nav li {
    /* 166px is min-width of 'project' link, css unable to get min-width of widest sibling */
    flex: 1 0 0px;
    background-color: hsl(var(--ACCENT-HSL));
}

.clickable {
    padding: 0.25em 0.25em;
    width: 100%;
    text-decoration: none;
    letter-spacing: 2px;
    font-variation-settings: "wdth" 62.5;
    white-space: nowrap;

    display: inline-flex;
    align-items: center;
}

nav .current-page {
    /* disable and highlight current page link */
    pointer-events: none;
    background-color: hsl(var(--DARK-HSL));
    box-shadow: 0px var(--NAV-MARGIN-BOTTOM) hsl(var(--DARK-HSL));
    color: hsl(var(--LIGHT-HSL));
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    /* animation: blink 1.5s ease-out 0s infinite normal forwards; */
}

.clickable .material-icons,
.content-title-bar .material-icons {
    margin-right: 0.2em;
    font-size: 1.25em;
}

.fx {
    background-image: linear-gradient(90deg, hsl(var(--DARK-HSL)) 50%,
            transparent 50%);
    background-size: 201% 100%;
    background-position: right;
    color: hsl(var(--DARK-HSL));

    position: relative;
    transition: color 0.2s ease-out, background-position 0.2s ease-out;
}

.fx:hover,
.fx:focus {
    color: hsl(var(--LIGHT-HSL));
    background-position: left;
}

nav .fx:hover,
nav .fx:hover {
    box-shadow: 2px 2px 2px hsl(var(--DARK-HSL)/0.5);
}

.fx::before {
    /* draw selected pointer decoration */
    content: "";
    position: absolute;
    pointer-events: none;
    width: 1.5rem;
    height: 1.5rem;

    background-color: hsl(var(--DARK-HSL));
    clip-path: polygon(25% 25%, 100% 47%, 25% 75%, 0 50%);
    left: -1.5rem;

    opacity: 0%;
}

.fx::after {
    /* draw selected line decoration */
    content: "";
    position: absolute;
    left: 0px;
    top: -5px;
    bottom: -5px;
    width: 100%;
    background-image: linear-gradient(hsl(var(--DARK-HSL)) 5%,
            transparent 5%, transparent 95%,
            hsl(var(--DARK-HSL)) 95%);
    opacity: 0%;
}

.fx:hover::before,
.fx:focus::before,
.fx:hover::after,
.fx:focus::after {
    /* reveal selected line decoration */
    opacity: 100%;
}

hgroup {
    display: flex;
    align-items: baseline;
    gap: 1rem;
    letter-spacing: 0.05em;
    margin-bottom: 1rem;
}

hgroup h1 {
    text-transform: uppercase;
    font-weight: 350;
    text-shadow: .3rem .3rem 0 hsl(var(--ACCENT-HSL));
}

hgroup p {
    text-transform: capitalize;
    font-weight: 400;
    position: relative;
    left: -0.8rem;
}

hgroup p::before {
    content: "- ";
    position: relative;
    left: .2em;
}

.contact-form {
    align-self: center;
    width: 50%;

    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.contact-form .form-row {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.contact-form .form-button-row {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1.75rem;
    margin-top: 1rem;
}

.contact-form .decorative-bar {
    margin-left: 3rem;
}

form input,
form textarea,
form button {
    display: block;
    width: 100%;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    padding: 0.25rem;
    color: hsl(var(--DAR-HSL));
    background-color: hsl(var(--ACCENT-HSL));
    border: none;
}

input:hover,
textarea:hover,
select:hover,
input:focus,
textarea:focus,
select:focus {
    color: hsl(var(--LIGHT-HSL));
    background-color: hsl(var(--DARK-HSL));
    box-shadow: 2px 2px 2px hsl(var(--DARK-HSL)/.5);
}

.tictactoe {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 2rem;
}

.tictactoe .controls {
    grid-column: 1;
    align-self: center;
    margin-left: 3rem;
}

.tictactoe .game {
    grid-column: 2;
    place-self: center;
}

.tictactoe .board {
    display: grid;
    height: 100%;
    aspect-ratio: 1/1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    position: relative;
}

.tictactoe .board::after {
    content: "";
    inset: 0;
    position: absolute;
    /* board lines */
    background-image: linear-gradient(transparent 32.5%,
            hsl(var(--DARK-HSL)) 32.5%, hsl(var(--DARK-HSL)) 33%,
            transparent 33%, transparent 67%,
            hsl(var(--DARK-HSL)) 67%, hsl(var(--DARK-HSL)) 67.5%,
            transparent 67.5%),
        linear-gradient(90deg, transparent 32.5%,
            hsl(var(--DARK-HSL)) 32.5%, hsl(var(--DARK-HSL)) 33%,
            transparent 33%, transparent 67%,
            hsl(var(--DARK-HSL)) 67%, hsl(var(--DARK-HSL)) 67.5%,
            transparent 67.5%);
    z-index: -1;
}

.tictactoe .square {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.tictactoe input {
    display: none;
}

.tictactoe label {
    /* shape for game markers when none are checked */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;

    border: 2px solid hsl(var(--DARK-HSL)/.25);
    border-radius: 50%;
    background-image: radial-gradient(hsl(var(--DARK-HSL)) .75rem, transparent 70%);
    height: 2rem;
    width: 2rem;
    color: hsl(var(--LIGHT-HSL));
    cursor: crosshair;
    transition: width .5s cubic-bezier(0.175, 0.885, 0.32, 1.275),
        height 1s cubic-bezier(1, 0, 0, .75);
}

.tictactoe input:checked+label {
    /* shape for game markers when one is checked */
    position: absolute;
    height: 100%;
    width: 100%;
    border-color: transparent;
    background-color: hsl(var(--LIGHT-HSL));
    font-size: 3rem;
    font-weight: bolder;
    color: transparent;
    animation: tictactoe-blink 2s 1s infinite;
}

@keyframes blink {

    0%,
    50%,
    100% {
        opacity: 100%;
    }

    25% {
        opacity: 50%;
    }
}

@keyframes tictactoe-blink {
    0% {
        color: hsl(var(--DARK-HSL));
        border-color: red;
        background-image: radial-gradient(transparent 25%, hsl(var(--DARK-HSL)));
    }

    100% {
        color: hsl(var(--DARK-HSL));
        /* border-color: hsl(var(--DARK-HSL)); */
        background-image: radial-gradient(transparent 25%, hsl(var(--DARK-HSL)));
    }
}